<h1>Formulario</h1>
<p></p>


<%= form_with model: Sale.new, local: true do |form| %>
  <p><%= form.label :detail%></p>
  <p><%= form.text_area :detail%></p>
  <p><%= form.label :category%></p>
  <p><%= form.number_field :category%></p>
  <p><%= form.label :value%></p>
  <p><%= form.number_field :value%></p>
  <p><%= form.label :discount%></p>
  <p><%= form.number_field :discount%></p>
  <p><%= form.label :tax%></p>
  <p><%= form.check_box :tax%></p>
  <p><%= form.submit "Crear" %></p>
<% end %>
